.container{
  display: flex;
  margin-top: 10px;
}

.link{
  text-decoration: none;
  color: inherit;
}
.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topRight{
    display: flex;
    align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.list-noti{
  position: absolute;
  border-radius: 8px;
  right: 138px;
  top: 50px;
  width: 300px;
  
  background-color: #f5f5f5;
  /* transition: height 2s; */
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-noti::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.list-noti::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}
 
/* Handle */
.list-noti::-webkit-scrollbar-thumb {
  background: rgb(183, 181, 181); 
  border-radius: 10px;
}

/* Handle on hover */
.list-noti::-webkit-scrollbar-thumb:hover {
  background: #545353; 
}