.about-us_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-us_wrapper {
  width: 80%;
  margin-top: 160px; 
  border-bottom: 1px solid #e1e8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us_intro {
  width: 100%;
  height: calc(100vh - 144px);
}

.about-us_intro .MuiTypography-root:nth-child(1) {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-us_intro .MuiTypography-root:nth-child(2) {
  width: 50%;
  height: 100%;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-us_quote {
  width: calc(100vw - 20px);
  height: calc(100vh - 144px);
  /* background-color: #c3c3c3; */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #1b627f, #2a768e, #3c8b9c, #519fa9, #68b4b5);
}

.about-us_quote .MuiTypography-root {
  text-align: center;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

.about-us_avatar {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about-us_avatar .MuiStack-root {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us_avatar .MuiStack-root .MuiAvatar-root {
  width: 100px;
  height: 100px;
  font-size: 40px;
}

.about-us_avatar .MuiStack-root .MuiTypography-root {
  font-size: 20px;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}