/* .header_container {
  position: fixed;
  background-color: #fff;
  padding-top: 16px;
}

.header_container .MuiToolbar-root .MuiTypography-root:nth-child(1) {
  flex-grow: 1;
  margin-left: 80px;
  font-size: 40px;
  color: #000;
  font-style: italic;
  font-weight: 800;
}

.header_container .MuiToolbar-root .MuiTextField-root:nth-child(2) {
  width: 50%;
  background-color: #f6f6f6;
  margin-right: 16px;
}

.header_container .MuiToolbar-root .MuiStack-root:nth-child(3) {
  flex-direction: row;
  margin-right: 80px;
}

.header_container .MuiToolbar-root .MuiStack-root:nth-child(3) .MuiButton-root:nth-child(1) {
  background-color: inherit;
  color: #000;
  text-transform: none;
}

.header_container .MuiToolbar-root .MuiStack-root:nth-child(3) .MuiButton-root:nth-child(1):hover {
  color: #fff;
  background-color: #1565c0;
}

.header_container .MuiToolbar-root .MuiStack-root:nth-child(3) .MuiButton-root:nth-child(2) {
  background-color: inherit;
  color: #000;
  text-transform: none;
}

.header_container .MuiToolbar-root .MuiStack-root:nth-child(3) .MuiButton-root:nth-child(2):hover {
  color: #fff;
  background-color: #1565c0;
}

.header_container .MuiToolbar-root .MuiStack-root:nth-child(3) .MuiButton-root:nth-child(3) {
  background-color: inherit;
  color: #000;
  text-transform: none;
}

.header_container .MuiToolbar-root .MuiStack-root:nth-child(3) .MuiButton-root:nth-child(3):hover {
  color: #fff;
  background-color: #1565c0;
}

.header_container .MuiToolbar-root:nth-child(2) .MuiButton-root {
  background-color: inherit;
  color: #000;
  text-transform: none;
  font-weight: 600;
}

.header_container .MuiToolbar-root:nth-child(2) .MuiButton-root:hover {
  color: #fff;
  background-color: #1565c0;
}

.header_container .MuiToolbar-root:nth-child(2) .MuiButton-root:nth-child(1) {
  margin-left: 68px;
} */

.header_ctn .MuiToolbar-root > .MuiIconButton-root {
  display: none;
}

.header_person-icon {
  display: none !important;
}

.header_search-btn {
  display: none !important;
}

@media only screen and (max-width: 1200px) {
  .header_ctn .header_navigation-bar {
    display: none;
  }
  .header_ctn .MuiToolbar-root > .MuiIconButton-root {
    display: block;
  }
  .header_user-txt {
    display: none;
  }
  .header_person-icon {
    display: block !important;
  }
  .header_search-btn {
    display: block;
  }
  .header_ctn .header_search-field {
    display: none;
  }
  .header_user-btn:hover {
    background-color: #fff !important;
    color: #000 !important;
  }
}

@media only screen and (max-width: 1250px) {
  .header_ctn .header_search-field {
    display: none;
  }
  .header_search-btn {
    display: block !important;
  }
}

@media only screen and (max-width: 700px) {
  .header_ctn > .MuiToolbar-root:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header_user-icons {
    margin: 0 !important;
  }
  .header_not-login {
    margin: 0 !important;
  }
}