/* .login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 40px;
}

.login_container .MuiTypography-root:nth-child(1) {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.login_container .MuiTypography-root:nth-child(2) {
  font-size: 20px;
  text-align: center;
}

.login_container .MuiTypography-root:nth-child(2) .MuiTypography-root {
  font-size: 20px;
  font-weight: 700;
  padding-left: 8px;
  cursor: pointer;
}

.login_container .MuiStack-root:nth-child(3) {
  width: 500px;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  padding: 40px;
  margin: 24px 0;
}

.login_container .MuiStack-root:nth-child(3) .MuiTextField-root:nth-child(1) {
  background-color: #f7f8fa;
}

.login_container .MuiStack-root:nth-child(3) .MuiTextField-root:nth-child(2) {
  background-color: #f7f8fa;
  margin-top: 24px;
}

.login_container .MuiStack-root:nth-child(3) .MuiFormControlLabel-root:nth-child(3) {
  font-size: 20px;
  margin-top: 16px;
}

.login_container .MuiStack-root:nth-child(3) .MuiButton-root:nth-child(4) {
  color: #fff;
  background-color: #000;
  margin-top: 16px;
  padding: 16px;
}


.login_container .MuiStack-root:nth-child(3) .MuiTypography-root:nth-child(5) {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-top: 24px;
  cursor: pointer;
} */

.login_break-page {
  display: none;
}

@media only screen and (max-width: 1250px) {
  .login_ctn {
    margin-top: 110px;
  }
}

@media only screen and (max-width: 567px) {
  .login_ctn {
    margin-top: 130px;
  }
}

@media only screen and (max-width: 600px) {
  .login_break-page {
    display: block;
  }
  .login_ctn > .MuiBox-root {
    width: calc(100vw - 44px);
  }
  .login_form  {
    margin-top: 0 !important;
    width: calc(100%) !important;
    box-sizing: border-box;
  }
}