.order-status_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-status_wrapper {
  width: 80%;
  margin-top: 160px; 
  padding-bottom: 80px;
  border-bottom: 1px solid #e1e8f0;
}

.order-status_breadcrumbs {
  padding: 32px 0;
}

.order-status_breadcrumbs a {
  color: #aaaab2;
  text-decoration: none;
}

.order-status_content > .MuiTypography-root:nth-child(1){
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.order-status_content > .MuiBox-root:nth-child(1) > .MuiButton-root {
  max-height: 50px;
}

.order-status_detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f7f8fa;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.order-status_detail > .MuiStack-root {
  display: flex;
  align-items: left;
  justify-content: center;
  min-width: 153px;
}

.order-status_detail > .MuiStack-root:nth-child(1) .MuiTypography-root:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px
}

.order-status_detail > .MuiStack-root:nth-child(2) .MuiTypography-root {
  font-size: 22px;
}

.order-status_timeline-ctn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.order-status_timeline {
  width: 40px;
  rotate: 90deg;
}

.order-status_timeline .MuiTimelineConnector-root {
  height: 15vw;
}

.timeline-content {
  position: absolute;
  top: 15px;
  left: -10px;
  rotate: -90deg;
  width: 180px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.MuiTimelineDot-filledGrey {
  padding: 10px !important;
}

.checked-timeline {
  background-color: #000 !important;
}

.timeline-items {
  width: 100%;
  margin-top: 70px;
  background-color: #f7f8fa;
  padding: 0 20px;
  box-sizing: border-box;
}

.timeline-items > .MuiStack-root {
  width: 100%;
  /* max-eight: 120px; */
  padding: 20px 0;
  border-bottom: 1px solid #e3eaf2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#last-item {
  border-bottom: none;
}

.timeline-items .MuiCardMedia-root {
  width: 120px;
  margin-right: 20px;
}

.timeline-item > .MuiTypography-root:nth-child(2) {
  padding: 0 20px;
  box-sizing: border-box;
}

.timeline-item > .MuiTypography-root:nth-child(3) {
  padding: 0 20px;
  box-sizing: border-box;
}

@media only screen and (max-width: 839px) {
  .timeline-item > .MuiTypography-root:nth-child(3) {
    margin-top: 20px;
    width: 300px;
    padding-left: 0;
  }
}

@media only screen and (max-width: 579px) {
  .timeline-item > .MuiTypography-root:nth-child(2) {
    margin-top: 20px;
    width: 200px;
    padding-left: 0;
  }
  .timeline-item > .MuiTypography-root:nth-child(3) {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .order-status_timeline {
    rotate: -180deg;
  }
  .timeline-content {
    margin-left: 80px;
    text-align: left;
    rotate: -180deg;
  }
  .order-status_timeline-ctn {
    padding-top: 50px;
    height: 500px;
  }
  .order-status_timeline {
    position: absolute;
    right: 15vw;
  }
}

@media only screen and (max-width: 1200px) {
  .order-status_wrapper {
    margin-top: 90px;
  }
}

@media only screen and (max-width: 660px) {
  .order-status_wrapper {
    margin-top: 130px;
  }
}

@media only screen and (max-width: 500px) {
  .order-status_timeline {
    right: -15px;
  }
  .order-status_timeline-ctn {
    padding-top: 0px;
    height: 450px;
  }
  .timeline-items {
    margin-top: 20px;
  }
  .order-status_content > .MuiBox-root:nth-child(1) {
    display: flex;
    align-items: center;
  }  
}