.product_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_wrapper {
  width: 80%;
  margin-top: 160px;
  margin-bottom: 40px;
}

.product_breadcrumbs {
  padding: 32px 0;
}

.product_breadcrumbs .MuiLink-root {
  color: #aaaab2;
  text-decoration: none;
}

.product_content {
  display: flex;
  position: relative;
}

.product_sidebar {
  width: 300px;
  flex-shrink: 0;
  position: relative;
}

.product_sidebar .MuiAccordion-root:before {
  height: 0;
}

.product_sidebar .MuiAccordionSummary-root {
  padding: 0;
}

.product_sidebar .MuiAccordionSummary-root .MuiTypography-root {
  font-size: 20px;
  font-weight: 700;
}

.product_sidebar .MuiAccordionDetails-root {
  padding: 0;
}

.product_sidebar .MuiAccordion-root:nth-child(1) .MuiAccordionDetails-root .MuiFormControlLabel-root  {
  font-size: 20px;
  display: block;
}

.product_sidebar .MuiAccordion-root:nth-child(3) .MuiAccordionDetails-root .MuiFormControlLabel-root  {
  font-size: 20px;
  display: block;
}

.product_sidebar .MuiAccordion-root:nth-child(5) .MuiAccordionDetails-root .MuiToggleButton-root  {
  font-weight: 700;
  border: 1px solid #a8abb2;
  border-radius: 0;
  padding: 10px 15px;
}

.product_sidebar .MuiAccordion-root:nth-child(9) .MuiAccordionDetails-root > .MuiTypography-root  {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
}

.product_sidebar .MuiAccordion-root:nth-child(9) .MuiAccordionDetails-root > .MuiSlider-root  {
  color: #0f172a;
}

.product_sidebar .MuiAccordion-root:nth-child(9) .MuiAccordionDetails-root > .MuiSlider-root .MuiSlider-valueLabel  {
  display: none;
}

.product_display {
  flex-grow: 1;
  padding: 16px 32px;
}

.product_display > .MuiStack-root:nth-child(1) {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  margin-right: 8px;
}

.product_display > .MuiStack-root:nth-child(1) .MuiTypography-root {
  font-weight: 600;
}

.product_display > .MuiStack-root:nth-child(1) .MuiTextField-root {
  padding-left: 8px;
  font-weight: 700;
}

.product_display > .MuiStack-root:nth-child(1) .MuiInputAdornment-root {
  padding-left: 8px;
}

.product_display > .MuiStack-root:nth-child(1) .MuiInputAdornment-root .MuiTypography-root {
  font-weight: 700;
}

.product_display > .MuiStack-root:nth-child(1) .MuiAutocomplete-root {
  width: 350px;
}

.product_display > .MuiBox-root:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
}

.product_display > .MuiBox-root:nth-child(2) > .MuiTypography-root {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin: 40px 0;
  color: #786665;
}

.product_item {
  width: 280px;
  height: 350px;
  margin-top: 16px;
}

.product_item > .MuiBox-root {
  position: absolute;
  margin-left: 4px;
  margin-top: 4px;
}

.product_item > .MuiBox-root .MuiTypography-root:nth-child(1) {
  color: #fff;
  background-color: #000;
  margin-bottom: 8px;
  text-align: center;
  font-size: 15px;
  padding: 0 8px;
}

.product_item > .MuiBox-root .MuiTypography-root:nth-child(2) {
  color: #fff;
  background-color: #f33e5d;
  text-align: center;
  font-size: 15px;
}

.product_item > .MuiCardMedia-root {
  width: 100%;
  height: 280px;
}

.product_item > .MuiCardContent-root {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.product_item > .MuiCardContent-root .MuiTypography-root:nth-child(1) {
  font-weight: 600;
  font-size: 18px;
  padding-top: 8px;
}

.product_item > .MuiCardContent-root .MuiStack-root:nth-child(2) {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.product_item > .MuiCardContent-root .MuiStack-root:nth-child(2) .MuiTypography-root:nth-child(1) {
  font-weight: 600;
  font-size: 18px;
  line-height: 0.8;
}

.product_item > .MuiCardContent-root .MuiStack-root:nth-child(2) .MuiTypography-root:nth-child(2) {
  text-decoration: line-through;
  color: #f5647d;
  font-size: 16px;
  line-height: 1.8;
  vertical-align: middle;
  padding-top: 1px;
  margin-left: -32px;
}

.product_item > .MuiCardContent-root .MuiStack-root:nth-child(2) .MuiRating-root:nth-child(3) {
  padding-top: 4px;
}

.product_display > .MuiStack-root:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.product_content > .MuiIconButton-root {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  color: #6b595e;
  margin-top: 0px;
  margin-bottom: 20px;
}

.product_content > .MuiIconButton-root .MuiTypography-root {
  margin-left: 10px;
}

.product_drawer {
  width: 250px;
  background-color: #fff;
  flex-shrink: 0;
  position: relative;
  transition: ease-out 0.3s !important;
}

.product_drawer .MuiIconButton-root  {
  position: absolute;
  top: 5px;
  right: 5px;
}

.product_drawer .MuiPaper-root > .MuiTypography-root  {
  position: absolute;
  top: 8px;
  left: 5px;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  padding-left: 10px;
  color: #694c4f;
}

.product_drawer > .MuiDrawer-paper {
  width: 250px;
  box-sizing: border-box;
  padding: 50px 15px;
}

@media only screen and (max-width: 1250px) {
  .product_content > .MuiIconButton-root {
    display: flex;
  }
  .product_content > .product_sidebar {
    display: none !important;
  }
  .product_wrapper {
    margin-top: 90px;
  }
  .product_header > .MuiTypography-root {
    position: absolute;
    right: 0;
  }
  .product_header {
    position: relative;
  }
  .product_header > .MuiAutocomplete-root {
    display: none;
  }
  .product_display > .MuiStack-root:nth-child(1) .MuiTypography-root {
    margin-top: 8px;
  }.product_sidebar {
    width: 100%;
  }
  .product_display {
    padding: 0;
  }
  .product_content {
    padding-top: 20px;
  }
  .product_drawer .product_sidebar .MuiAccordion-root:nth-child(5) .MuiAccordionDetails-root .MuiToggleButton-root  {
    padding: 7px 10px;
  }
}

@media only screen and (max-width: 716px) {
  .product_display > .MuiBox-root:nth-child(2) {
    justify-content: center;
  }
}

@media only screen and (max-width: 580px) {
  .product_wrapper {
    margin-top: 130px;
  }
}